@import "react-quill/dist/quill.snow.css";
@import "react-quill/dist/quill.core.css";

body {
  margin: 0;
  font-family: ProximaNovaBlack, "Proxima Nova",sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ql-editor h1 {
  line-height: 3.5rem;
}

h2 .ql-editor{
  line-height: 3.25rem;
}

h3 .ql-editor{
  line-height: 3rem;
}

h4 .ql-editor{
  line-height: 2.75rem;
}

h5 .ql-editor{
  line-height: 2.5rem;
}

.result-div .ql-editor{
  padding: 0px;
  font-weight: 400;
}

* .ql-editor{
  font-weight: 400;
}

.max-w{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100% !important;
}

.root-div {
  max-width: 1500px;
  width: 100%;
  margin-right:auto;
  margin-left:auto;
}

main{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.42;
  margin:2rem;

}
html {
position: relative;
min-height: 100%;
font-size: 16px;
line-height: 2.25rem;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
body {
/* Margin bottom by footer height */
margin-bottom: 60px;
}
/* .footer {
position: absolute;
bottom: 0;
width: 100%;
z-index: 5;
/* Set the fixed height of the footer here */
/* height: 60px; */

/* }  */


.top-gradient{
  background: linear-gradient(-90deg,#342b60,#60c3d5);
}
.top-text, .dropdown-menu-custom{
  margin-top: 3rem;
  color: white;
  font-size: 1.125rem;
  font-weight: 700;
}

.demo{
  border: 1px solid black;
}

.top-text:hover, .dropdown-menu-custom:hover :active {
  color:#e4067e;
}

.top-text:focus {
  color:white;
}

.top-text-active{
  color:#e4067e;
}

.navbar-placement{
  flex-grow: 0;
}


.branding{

  width: 125px;
  overflow: hidden;
  font-weight: 200;
}

.result-div{
  border: none !important;
  max-width: 1500px;
  margin-right:auto;
  margin-left:auto;
  font-family: ProximaNova,sans-serif;
}

p{
  font-family: ProximaNova,sans-serif;
  font-weight: 100;
}

.result-div.ql-container.ql-snow{
  border: none !important;
  min-height: none;
}

.language-switcher{
  margin-top: 3rem;
  color: white;
  font-size: 1.125rem;
  font-weight: 700;
  text-decoration: none;
}

a:hover{
  color: #e4067e;
}

.language-switcher.selected{
  color:#e4067e;
}

.under-language{
  margin-top: 5px;
}

img.content_image{
  width: 100%;
  aspect-ratio:16/9;
}

.page-title{
  font-weight: 700;
  font-size: 2.0rem;
  color: #342b60;
  /* text-transform: uppercase; */
  line-height: 2.5rem;
  margin: 0;
  font-family: ProximaNovaBlack,sans-serif;
}

.header-date{
  font-size: 1.25rem;
    color: #e4067e;
    font-weight: 700;
    margin-top: 1.5rem;
}

.content-bg{
  background-color: white;
}

.page_title{
  color: #e4067e;
  font-family: ProximaNovaBlack,sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.0rem;

}

.btn-ttu-pink{
  background-color: #e4067e;
  color: white;
}

.btn-ttu-purple{
  background-color: #342b60;
  color: white;
}

.header-purple{
  color: #342b60;
  font-weight: 900;
}

.topic-area-list{
  color: gray;
  font-weight: 700;
  font-size: 14px;
}

.filter-box{
  border-left: #342b60 1px solid;
}

@media(max-width: 767px) {
  .filter-box {
    border: none;
  }
}
ul li
{
    list-style-type: none;
}

.news-card{
  max-width: 550px;
}

.thumbnail{
  aspect-ratio: 16/9;
  width: 100%;
  object-fit:cover;

}

.link-no-underline{
  text-decoration: none;
  color: #342b60;
  font-weight: 700;
}
.dropdown-icon {
  color: #e4067e;
  font-size: 1rem;  /* Adjust as needed */
}

.link-no-underline:hover{
  color: #e4067e;
}

.header-pink{
  color: #e4067e;
  font-weight: 700;
}

.card_custom_form {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
  /*padding: 32px;*/
  border-radius: 0px;
  overflow: hidden;
  min-height: 600px;
  min-width: 500px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.git-popup{
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
  /*padding: 32px;*/
  border-radius: 0px;
  overflow: hidden;
  min-width: 500px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.text-purple-main{
  color: #342b60;
  font-weight: 900;
  font-size: 1.2rem;
}

.text-pink-main{
  color: #e4067e;
  font-weight: 900;
  font-size: 1.2rem;
}

.adm-title{
  font-weight: 900;
}

.admin-menu{
  border-top:#342b60 4px solid
}

.gray-bg-fill{
  position: absolute;
  left: 0;
  right: 0;
  width: 100vw; /* 100% of the viewport width */
  background-color: #F1EEEE; /* Change to your desired background color */
  z-index: 1; 
}

.gray-bg-fill::before {
  position: relative; /* Necessary for the absolute positioning of the pseudo-element to relate to this element */
    z-index: 0; /* Reset z-index to default stacking context */
    background-color: #F1EEEE; /* Change to your desired background color */

}

/* .sticky-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333; 
  color: white;
  text-align: center;
  padding: 10px 0;
} */

a{
  color:#e4067e;
}

a:hover{
  color: #a8045c;
}

.footer {
  margin-top:5rem;
  min-height: 6rem;
  position: relative;
  overflow: hidden;
  margin-bottom: -60px;
  z-index: 5;
} 


/* 
Quill
*/

.ql-editor *{
  line-height: 2.25rem;
  font-size: 16px;
  font-family: ProximaNovaBlack,sans-serif;
}

.ql-container{
  font-size:inherit;
}

.quill-editor iframe {
  pointer-events: none;
}

.ql-editor .ql-video {
  display: block;
  width: 40rem;
  font-family: ProximaNovaBlack,sans-serif;
  overflow: auto;
  min-height:20rem;
  margin-bottom: auto;
}
/* 
.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="8px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="8px"]::before {
  content: '8';
  font-size: 8px;
}

.ql-snow .ql-picker.ql-size .ql-picker-label::before,
.ql-snow .ql-picker.ql-size .ql-picker-item::before {
  content: '16';
  font-size: 16px;
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="12px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="12px"]::before {
  content: '12';
  font-size: 12px;
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="10px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="10px"]::before {
  content: '10';
  font-size: 10px;
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="14px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="14px"]::before {
  content: '14';
  font-size: 14px;
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="18px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="18px"]::before {
  content: '18';
  font-size: 18px;
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="20px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="20px"]::before {
  content: '20';
  font-size: 20px;
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="32px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="32px"]::before {
  content: '32';
  font-size: 32px;
} */


.header-figma-test {
  color: #e4067e;
  font-family: "Proxima Nova-Black", Helvetica;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: normal;
}

.btn-primary-pink{
    font-size: 1.125rem;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
    border: 4px solid #e4067e;
    line-height: 1.25rem;
    background-color: #e4067e;
    transition: all .3s ease;
    display: inline-block;
    text-decoration: none;
    padding: calc(1.1rem - 4px) calc(2.3125rem - 4px) calc(1.4rem - 4px);
    border-radius: 60px;
}

.container-fluid{
  max-width: 1500px;
}

.weight-fix{
  font-weight: 600 !important;
}

.close-button{
  font-weight: 600;
  color: #342b60;
  width: 40px;
  background-color: transparent;
  border: none;
}

.git-style-card{
  border: 1px solid black;
}